---
import Heading from "../ui/Heading.astro";
import { t } from "i18next";
---

<section id="about">
  <Heading level={2}>{t("sections.about.title")}</Heading>

  <div class="space-y-5">
    {(t("sections.about.content", { returnObjects: true }) as string[]).map((paragraph: string) => <p>{paragraph}</p>)}
  </div>
</section>
