---
import { t } from "i18next";
import { skills } from "@/data/skills";
import Heading from "../ui/Heading.astro";
import Section from "../ui/Section.astro";
---

<Section id="skills">
  <Heading level={2}>{t("sections.skills.title")}</Heading>

  <ul class="flex flex-wrap gap-2">
    {
      skills.map((skill) => (
        <li class="inline-flex list-none">
          <a
            class="rounded-full border-2 border-blue-600 px-2 py-1 text-blue-600 hover:bg-blue-600 hover:text-white dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-500 dark:hover:text-white"
            href={skill.url}
            target="_blank"
          >
            {skill.name}
          </a>
        </li>
      ))
    }
  </ul>
</Section>
