---
import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import Heading from "@/components/ui/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import { config } from "@/config";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((entry) => {
    const [lang, slug] = entry.slug.split("/");
    return {
      params: {
        project: lang === "pl" ? "project" : `${lang}/project`,
        slug,
      },
      props: { entry, lang },
    };
  });
}
const { entry, lang } = Astro.props;
const { Content } = await entry.render();
changeLanguage(lang);
---

<Layout title={entry.data.title + " | " + config.name}>
  <Heading level={1}>
    {entry.data.title}
  </Heading>

  <main>
    <img src={entry.data.image} alt={entry.data.title} />
    <div class="prose prose-a:text-blue-500 prose-a:no-underline hover:prose-a:underline">
      <Content />
    </div>
  </main>
</Layout>
