---
import { changeLanguage, t } from "i18next";
import { getCollection } from "astro:content";
import Heading from "@/components/ui/Heading.astro";
import Layout from "@/layouts/Layout.astro";
import { config } from "@/config";
import Footer from "@/components/sections/Footer.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((entry) => {
    const [lang, slug] = entry.slug.split("/");
    return {
      params: {
        project: lang === "pl" ? "project" : `${lang}/project`,
        slug,
      },
      props: { entry, lang },
    };
  });
}
const { entry, lang } = Astro.props;
const { Content } = await entry.render();
changeLanguage(lang);
---

<Layout title={entry.data.title + " | " + config.name}>
  <header class="mt-4">
    <Heading level={1}>
      {entry.data.title}
    </Heading>
  </header>
  <main class="mb-4">
    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          width={750}
          densities={[1, 2]}
          alt={`${entry.data.title} ${t("sections.projects.preview_image")}`}
        />
      )
    }
    <div
      class="prose prose-stone dark:prose-invert prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline dark:prose-a:text-blue-500"
    >
      <Content />
    </div>
  </main>
  <Footer />
</Layout>
