---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  children: any;
  type?: "button";
}
const { class: addClass, ...props } = Astro.props as Props;
---

<a
  {...props}
  class:list={[
    "text-blue-600 dark:text-blue-500",
    props.type === "button"
      ? "inline-flex items-center rounded border-2 border-blue-600 px-2 py-1 text-sm hover:bg-blue-600 hover:text-white dark:border-blue-500  dark:hover:bg-blue-500 dark:hover:text-white"
      : "font-bold hover:underline",
    addClass,
  ]}
>
  <slot />
</a>
