---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a"> {
  children: any;
}
---

<a {...Astro.props} class="font-bold text-blue-500 hover:underline">
  <slot />
</a>
